
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h5 class="text-uppercase black-text font-weight-bolder footer-text"
          style="font-family: Oswald, sans-serif; font-size:1.25rem;">SAKSHAM</h5>
        <hr class="black-text text-center mb-4 mt-0 d-inline-block mx-auto" style="width: 250px;">
        <p class="black-text">Business is about people and relationships. That is why we try to outperform
          ourselves every time.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase black-text footer-text">Contact Info</h6>
        <hr class="black-text mb-4 mt-0 d-inline-block mx-auto" style="width: 180px;">
        <p class="black-text">
          <i class="fas fa-home mr-3 "></i> Ahmedabad ,Gujarat
          ,India</p>
        <p class="black-text">
          <i class="fas fa-envelope mr-3 black-text"></i> contactswichteam@gmail.com</p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase black-text footer-text">Useful links</h6>
        <hr class="black-text mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;">
        <p class="black-text">
          <a href="#!" class="black-text"></a>
        </p>

        <p class="black-text">
          <a href="/partnerRegisteration" class="black-text">Become A Helper</a>
        </p>

        <p class="black-text">
          <a href="/contactUs" class="black-text">Contact Us</a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Copyright -->
    <div style="background:transparent;" class="footer-copyright text-center py-3 black-text">© 2019
      Swich | All Rights Reserved
    </div>
    <!-- Copyright -->
  </div>
  <!-- Footer Links -->
