
  <nav class="navbar navbar-expand-lg navbar-light fixed-top white animated fadeInDownBig ">

    <div class="container">

      <!-- Navbar brand -->
      <a class="navbar-brand" id="logo" href="#">SAKSHAM</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar"
        aria-controls="navigation-bar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->

      <div class="collapse navbar-collapse " id="navigation-bar">
        <!-- Links -->
        <ul class="navbar-nav ml-auto smooth-scroll">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">Name</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-center" href="about.html">Profile</a>
                            <a class="dropdown-item text-center" href="help.html">Search</a>
                            <a class="dropdown-item text-center" href="join.html">Add Needs</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="/logout">Logout</a>
                        </div>
                    </li>
        </ul>
        <!-- Links -->

      </div>
      <!-- Collapsible content -->

    </div>

  </nav>
  <!--/.Navbar-->
