<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/head'); -%>
  <%- include('../partial/mic'); -%>
</head>

  <%- include('../partial/navbar'); -%>

<main>
    <!--SECTION SEPARATOR-->

    <div class="rgba-gradient" style="margin-top:5%;">
        <div class="container">
            <!--Section: Contact-->
            <section id="contact">

                <div class="container h-100 d-flex justify-content-center align-items-center">

                    <!--Grid row-->
                    <div class="row pt-5 mt-3">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-body">

                                    <h2 class="font-weight-bold my-4 text-center mb-5 mt-4 head font-weight-bold">
                                        <strong>Write To Us</strong>
                                    </h2>

                                    <!--Grid row-->
                                    <div class="row mt-5">

                                        <!--Grid column-->
                                        <div class="col-md-6 ml-lg-5 ml-md-3">

                                            <!--Grid row-->
                                            <div class="row pb-4">

                                                <div class="col-12">

                                                    <p class="text-center font-weight-bold">Not sure what you need or
                                                        what to choose?
                                                        <br>We're always
                                                        happy to talk about <br>how we can work together.<br>Drop us a
                                                        line.</p>
                                                </div>
                                                <div class="col-12">
                                                    <img src="./img/mail.png">
                                                </div>
                                            </div>
                                            <!--Grid row-->

                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-md-5">

                                            <!--Naked Form-->
                                            <div class="card-block" id="contact-card">
                                                <!--Body-->
                                                <form action="https://formspree.io/contactswichteam@gmail.com"
                                                    method="POST">
                                                    <div class="form-row mb-4">
                                                        <div class="col">
                                                            <!-- First name -->
                                                            <input type="text" required name="first-name"
                                                                id="defaultRegisterFormFirstName" class="form-control"
                                                                placeholder="First name">
                                                        </div>
                                                        <div class="col">
                                                            <!-- Last name -->
                                                            <input type="text" required name="last-name"
                                                                id="defaultRegisterFormLastName" class="form-control"
                                                                placeholder="Last name">
                                                        </div>
                                                    </div>
                                                    <!-- E-mail -->
                                                    <input type="email" required name="email"
                                                        id="defaultRegisterFormEmail" class="form-control mb-4"
                                                        placeholder="E-mail">

                                                    <!-- Subject -->
                                                    <input type="text" required name="subject"
                                                        id="defaultRegisterFormEmail" class="form-control mb-4"
                                                        placeholder="Subject">


                                                    <!-- Message -->
                                                    <div class="form-group">
                                                        <textarea name="message" required class="form-control rounded-0"
                                                            id="exampleFormControlTextarea2" rows="3"
                                                            placeholder="Message"></textarea>
                                                    </div>


                                                    <div class="text-center">
                                                        <input type="submit" value="Send" class="btn btn-purple round">
                                                    </div>
                                                </form>

                                            </div>
                                            <!--Naked Form-->
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                </div>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </div>
            </section>
            <!--Section Contact-->
        </div>

        <!-- FOOTER SVG -->
        <div class="svrow">
            <svg id="footer-svg" preserveAspectRatio="xMidYMax meet" class="svg-separator sep4" viewBox="0 0 1600 200"
                style="display: block;" data-height="200">
                <polygon class="" style="fill: rgb(255, 255, 255);"
                    points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 ">
                </polygon>
            </svg>
        </div>

    </div>

    <!--Main layout-->
</main>


<!--SECTION SEPARATOR-->

<!-- Footer -->
<footer class="page-footer font-small white">
 <%- include('../partial/footer'); -%>
</footer>
<!-- Footer -->



<!--Custom JS-->
<script type="text/javascript" src="js/script.js"></script>

<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.js"></script>

</html>